capacity-planning/results/** filter=lfs diff=lfs merge=lfs -text
capacity-planning/media/** filter=lfs diff=lfs merge=lfs -text
docs/entrega2/evidencia/prometheus/** filter=lfs diff=lfs merge=lfs -text
